body {
  background-color: #f8f8f3;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Kalnia", serif;
  color: #154527;
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 22px;
  z-index: 1;
  width: 100%;
}

header h1 {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  color: #154527;
  line-height: 80px;
}

header h2 {
  max-width: 442px;
  font-family: Kalnia;
  font-size: 48px;
  font-weight: 400;
  line-height: 64.56px;
  text-align: left;
  width: 100%;
}

header h2.left {
  text-align: left;
}

header h2.right {
  text-align: right;
}

main {
  width: 100%;
  min-height: 682px;
  background-image: url("images/background-1.png");
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

main div.portal {
  width: 337px;
  height: 570px;
  border-radius: 167px 167px 0 0;
  background-image: url("images/capa.jpg");
  background-size: contain;
  background-position: bottom;
  background-repeat: repeat;
  border: 1px solid #e2804b;
}

main div.banner {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 116px;
  background-image: url("images/banner-11.png");
}

section.momments {
  margin: 40px 14px 16px;
  display: flex;
  flex-direction: column;
}

section.momments h3 {
  font-family: Kalnia;
  font-size: 20px;
  font-weight: 400;
  line-height: 26.9px;
  text-align: left;
  max-width: 168px;
  margin-left: 10px;
}

div.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

div.gallery .photo {
  border-radius: 6px 0px 0px 0px;
}

div.gallery .photo.photo-3 {
  width: 168px;
  height: 210px;
}

div.gallery .photo p {
  font-family: Kalnia;
  font-size: 8px;
  font-weight: 400;
  line-height: 10.76px;
  text-align: center;
}

div.gallery .photo.photo-2 img {
  width: 130px;
  height: 160px;
}

div.gallery .photo.photo-1 img {
  width: 100px;
  height: 128px;
}

section.bw-image {
  background-image: url("images/casal-pb.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 400px;
}

.bw-image p {
  font-family: Kalnia;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.52px;
  text-align: center;
  padding: 225px 24px 80px;
  color: #ffffff;
  text-shadow: #000 1px 0 10px;
}

section.message {
  padding: 33px 92px 0 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 179px;
}

section.message h4 {
  font-family: Italianno;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin-bottom: 4px;
  width: 87px;
}

section.message p {
  font-family: Kalnia;
  font-size: 8px;
  font-weight: 400;
  line-height: 10.76px;
  text-align: left;
  width: 243px;
}

section.message img {
  position: absolute;
  top: 0;
  right: 10px;
}

/* Carousel */
.carousel {
  background: #eee;
  height: 350px;
}

.carousel-cell {
  width: 100%;
  height: 350px;
  margin-right: 10px;
  /* background: #8c8; */
  border-radius: 5px;
  /* counter-increment: gallery-cell; */
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  /* content: counter(gallery-cell); */
  line-height: 350px;
  font-size: 80px;
  color: white;
}
.carousel-cell {
  width: 100%;
  height: 350px;
  margin-right: 10px;
}
.carousel-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

footer {
  background-image: url("images/banner-21.png");
  height: 30px;
  width: 100%;
}
